<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <div class="tx-ncusefulpages-form-errors">
            <span class="heading"><f:translate
                    key="error.errorsOccurred"></f:translate></span>
            <ul>
                <f:for each="{validationResults.flattenedErrors}"
                    as="errors" key="propertyPath">
                    <f:for each="{errors}" as="error">
                        <li><f:translate
                                key="error.code.{error.code}"
                                htmlEscape="false">[{error.message} ({error.code})]</f:translate>
                        </li>
                    </f:for>
                </f:for>
            </ul>
        </div>
    </f:if>
</f:form.validationResults>